fastapi
uvicorn[standard]
python-multipart

sqlalchemy
alembic
psycopg[binary]

pgvector

langchain
langchain-community
langchain-core
langchain-ollama

pydantic
pydantic-settings

python-dotenv

python-jose[cryptography]
passlib[bcrypt]

sentence-transformers

pypdf
pymupdf
python-docx

httpx

slowapi

loguru

pytest
pytest-asyncio